<h1>This is page of {{message}}</h1>

<h2>{{message1}}</h2>
<ul>
  <li *ngFor = "let num of numbers">{{num}}</li>
</ul>

<h2 *ngIf = "1==1">{{message2}}</h2>
<h2 *ngIf = "true">{{message2}}</h2>
<h2 *ngIf="isOk">{{message2}}</h2>
<button (click)= "toggleMessage()">Toggle message</button>

<ul>
  <li *ngFor = "let user of users">
    {{user.name}} - {{user.age}}
  </li>
</ul>

<fieldset>
  <label>Your task: </label>
  <input type ="text" [(ngModel)] = "display">
  <button (click)="addItem()">Add item</button>
</fieldset>

<ul>
  <li *ngFor = "let item of items; let i = index">
    {{i+1}} - {{item}}
    <button (click)="removeItem(i)">remove</button>
  </li>
</ul>
<router-outlet></router-outlet>
